<ion-header>
  <ion-navbar color="blue">
    <ion-title>Registrar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form novalidate (ngSubmit)="saveData( $event )" [formGroup]="myForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Correo:</ion-label>
        <ion-input type="email" placeholder="Ej: mail@mail.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
        <p color="danger" *ngIf="myForm.get('email').hasError('required')">Campo requerido</p>
        <p color="danger" *ngIf="myForm.get('email').hasError('minlength')">Minimo 10 campos</p>
        <p color="danger" *ngIf="myForm.get('email').hasError('maxlength')">Maximo 30 campos</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input type="name" placeholder="Ej: Juan Coronel" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
        <p color="danger" *ngIf="myForm.get('name').hasError('required')">Campo requerido</p>
        <p color="danger" *ngIf="myForm.get('name').hasError('pattern')">no debe tener caracteres</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>edad:</ion-label>
        <ion-input type="number" placeholder="Ej: mail@mail.com" formControlName="age"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('age').errors && myForm.get('age').dirty">
        <p color="danger" *ngIf="myForm.get('age').hasError('required')">Campo requerido</p>
        <p color="danger" *ngIf="myForm.get('age').hasError('isold')">tienes que ser mayor</p>
      </ion-item>
      <div formGroupName="passwordGroup">
        <ion-item>
          <ion-label stacked>Password:</ion-label>
          <ion-input type="password" placeholder="Ej: 123345" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Confirmar Password:</ion-label>
          <ion-input type="password" placeholder="Ej: 123345" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('passwordGroup').errors && myForm.get('passwordGroup').get('confirmPassword').dirty">
          <p color="danger">Las constraseñas no son iguales</p>
        </ion-item>
      </div>
    </ion-list>
    <div padding>
      <button ion-button block  type="submit" [disabled]="myForm.invalid" icon-left>
        <ion-icon name="log-in"></ion-icon>
        Registrar
      </button>
    </div>
  </form>
</ion-content>