page-home {
.deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    margin-left: 80% !important;
    transform: rotate(45deg);
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }
  .releative {
    position: relative;
  }
}

.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-brush {
    color: #508AE4;
  }
  .ion-md-archive {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}